.form-control, .custom-file-input,.button-native, .custom-file-label, .button, .ion-select-custom > div {
    border-radius: 0!important;
}

*{
    font-family: 'Montserrat', sans-serif!important;
}

.form-control{
    font-size: 0.9rem;
}

ion-chip > .item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
    font-size: 0.7rem;
}

.reaction-icon{
    font-size: 18px;
}

.icon-text{
    position: relative;
    top: -4px;
}
.station-label{
    margin-left: 15px;
}

.searchbar-input-container > input{
    box-shadow: 0 2px 2px 0 rgba(4, 0, 251, 0.2), 0 3px 1px -2px rgba(200, 204, 255, 0.24), 0 1px 5px 0 rgba(36, 23, 230, 0.15)!important;
}

.actualite-card{
    padding: 0;
    margin: 5px 0 0;
}