.form-control, .custom-file-input,.button-native, .custom-file-label, .button, .ion-select-custom > div {
    border-radius: 0!important;
}

*{
    font-family: 'Montserrat', sans-serif!important;
}

.form-control{
    font-size: 0.9rem;
}

ion-chip > .item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
    font-size: 0.7rem;
}

.reaction-icon{
    font-size: 18px;
}

.icon-text{
    position: relative;
    top: -4px;
}
.station-label{
    margin-left: 15px;
}

.actualite-card{
    padding: 0;
    margin: 5px 0 0;
}
